## Entendimiento y preparación de datos C1 y C8
### Notebook 1

#### Tesis Visualización de datos
Benjamin Reyes - Pablo Pastrana

In [13]:
# Carga de librerías a utilizar

# Librería para comandos del sistema
import os

# Librerías para manejo de datos
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm 
import joblib

# Librerías de aprendizaje automático.

# Para realizar la separación del conjunto de aprendizaje en entrenamiento y test.
from sklearn.model_selection import train_test_split
# Para construir un modelo con el algoritmo de regresión lineal
from sklearn.linear_model import LinearRegression
# Para determinar el rendimiento del modelo con las métricas MSE, MAE y R2
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
# Para sacar un reporte estadístico que podemos usar para determinar las importancia de las variables explicativas.
import statsmodels.api as sm 

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Perceptron
from sklearn.pipeline import Pipeline

## 1. Entendimiento de los datos

### 1.1 Carga de datos

In [27]:
# Se cargan los datos

data_c1= pd.read_csv('./data/ENUT_C1.csv', sep=',', encoding = 'utf-8')
data_c8= pd.read_csv('./data/ENUT_C8.csv', sep=',', encoding = 'utf-8')

### 1.2 Visualización de los datos

In [29]:
# Cantidad de datos y número de variables C1
data_c1.shape

(49051, 15)

In [30]:
# Cantidad de datos y número de variables C8
data_c8.shape

(126753, 399)

In [31]:
# Se visualiza las primeras 5 columnas de ENUT C1
data_c1.head()

,DIRECTORIO,P424,P4030S1,P4030S1A1,P4030S5,P4030S3,P4030S4,P4030S4A1,P4030S6,P4030S2,MES_REF,DIA_REF,CLASE,REGION,F_EXP_VIV
0,3,2,1,4.0,1,1,1,3.0,1,1,9,5,1,2,239.883220
1,7,1,1,2.0,1,1,1,3.0,1,1,9,6,2,2,274.641682
2,11,2,1,2.0,1,1,1,2.0,1,1,9,4,2,2,478.663999
3,14,1,1,1.0,1,1,2,NaN,2,1,9,6,1,1,124.680583
4,17,1,1,2.0,1,1,1,3.0,1,1,9,6,1,1,184.098370

In [32]:
# Se visualiza las primeras 5 columnas de ENUT C8
data_c8.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,P1144S1,P1144S1A1,P1144S1A2,P1144S2,P1144S2A1,P1144S2A2,P1144S3,...,P1120S7,P1120S8,P1183S1,P1183S2,P1183S3,P1183S4,P1183S5,P1183S6,P1183S7,F_EXP
0,3,1,1,1.0,8.0,0.0,1.0,1.0,0.0,1.0,...,2,2,2.0,2.0,1.0,1.0,2.0,2.0,2.0,239.883220
1,3,1,2,1.0,7.0,0.0,1.0,1.0,0.0,1.0,...,2,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,239.883220
2,7,1,1,1.0,8.0,30.0,1.0,1.0,0.0,1.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.641682
3,7,1,2,1.0,9.0,30.0,1.0,1.0,0.0,1.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.641682
4,7,1,3,1.0,9.0,0.0,1.0,1.0,0.0,1.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.641682

In [35]:
# Se obtiene el número de valores únicos en la columna DIRECTORIO en C1
data_c1['DIRECTORIO'].nunique()

49051

In [37]:
# Se obtiene el número de valores únicos en la columna DIRECTORIO en C8
data_c8['DIRECTORIO'].nunique()

49051

Observamos que ambos datasets tienen la misma cantidad de valores únicos en la columna DIRECTORIO, lo que rectifica que este es el número de ID único y, por lo tanto, será la variable con la que podemos juntar las dos tablas.

## 2. Entendimiento de las variables a utilizar

Lo primero que hacemos es sustituir los valores de referencia asignados a las variables por nombres más comprensibles.

In [39]:
# Cambio de nombre de las columnas para C1
data_c1.columns = ['id', 'TipoVivienda', 'EnergiaElectrica', 'EstratoTarifa', 'Acueducto', 'Alcantarillado', 'RecoleccionBasuras',
            'DiasSemana', 'Internet', 'GasNatural', 'Mes', 'Dia', 'UrbanoORural', 'Region', 'FactorExpansion']
data_c1.head()

,id,TipoVivienda,EnergiaElectrica,EstratoTarifa,Acueducto,Alcantarillado,RecoleccionBasuras,DiasSemana,Internet,GasNatural,Mes,Dia,UrbanoORural,Region,FactorExpansion
0,3,2,1,4.0,1,1,1,3.0,1,1,9,5,1,2,239.883220
1,7,1,1,2.0,1,1,1,3.0,1,1,9,6,2,2,274.641682
2,11,2,1,2.0,1,1,1,2.0,1,1,9,4,2,2,478.663999
3,14,1,1,1.0,1,1,2,NaN,2,1,9,6,1,1,124.680583
4,17,1,1,2.0,1,1,1,3.0,1,1,9,6,1,1,184.098370

In [ ]:
# Cambio de nombre de las columnas para C8
data_c1.columns = ['id', 'SECUENCIA_P', 'ORDEN', 'Dormir (incluyendo siestas)', 'Horas'
Minutos
Comer (Tiempo total gastado tanto en comidas principales como en onces o meriendas).
Horas
Minutos
Asearse, vestirse y arreglarse.
Horas
Minutos
Ir a la peluquería, barbería, salón de belleza o spa.
Horas
Minutos
Guardar cama por alguna enfermedad o limitación (Excluya tiempo de dormir).
Horas
Minutos
Descansar sin hacer nada más.
Horas
Minutos
Preparar y servir alimentos para las personas de este hogar.
Horas
Minutos
Levantar los platos, lavar la loza en este hogar.
Horas
Minutos
Preparar conservas, quesos o embutidos para ser consumidas por las personas del hogar.
Horas
Minutos
Llevarle la comida a personas de este hogar a su sitio de trabajo, estudio u otro lugar fuera de esta vivienda.
Horas
Minutos
Ninguna de las anteriores.
Lavar, planchar o guardar ropa para las personas de este hogar.
Horas
Minutos
Reparar ropa, manteles, cobijas, calzado, maletas, etc., para las personas de este hogar.
Horas
Minutos
Elaborar prendas de vestir para las personas de este hogar.
Horas
Minutos
Llevar o recoger ropa o calzado de las personas de este hogar, a la lavandería, zapatería o remontadora (incluya tiempo de espera).
Horas
Minutos
Ninguna de las anteriores.
Limpiar esta vivienda (barrer, trapear, tender las camas, sacudir el polvo, sacar la basura, etc.).
Horas
Minutos
Cuidar mascotas (alimentar, bañar, pasear, llevar a la veterinaria, etc.).
Horas
Minutos
Cuidar el jardín o regar plantas ornamentales.
Horas
Minutos
Limpiar algún vehículo de su propiedad o de este hogar.
Horas
Minutos
Traer agua para el uso de este hogar.
Horas
Minutos
Traer combustibles para cocinar como: carbón mineral o de palo, materiales de desecho, gas propano, gasolina, petróleo, kerosene y sus derivados.
Horas
Minutos
Lavar o desinfectar alimentos, empaques o productos para el hogar al ingresarlos en la vivienda.
Horas
Minutos
Ninguna de las anteriores.
Construir o ampliar esta vivienda.
Horas
Minutos
Reparar, hacer instalaciones o mantenimiento a esta vivienda.
Horas
Minutos
Reparar electrodomésticos, muebles o vehículos de este hogar.
Horas
Minutos
Llevar a reparar electrodomésticos, muebles o vehículos de este hogar.
Horas
Minutos
Ninguna de las anteriores.
Comprar artículos personales o para este hogar (alimentos, elementos de aseo, útiles escolares, ropa, calzado, muebles, etc.).
P1140S1AV
La actividad la realizó de forma Virtual
P1140S1A1
Horas
P1140S1A2
Minutos
P1140S1AP
La actividad la realizó de forma Presencial
P1140S1A3
Horas
P1140S1A4
Minutos
P1140S2
Comprar o reclamar medicamentos para usted o alguna persona de este hogar.
P1140S2AV
La actividad la realizó de forma Virtual
P1140S2A1
Horas
P1140S2A2
Minutos
P1140S2AP
La actividad la realizó de forma Presencial
P1140S2A3
Horas
P1140S2A4
Minutos
P1140S3
Dirigir o supervisar las actividades de este hogar tales como: preparación de alimentos, limpieza, construcción, ampliación o reparación de esta vivienda.
P1140S3A1
Horas
P1140S3A2
Minutos
P1140S4
Pagar facturas, hacer trámites, poner o recoger encomiendas.
P1140S4AV
La actividad la realizó de forma Virtual
P1140S4A1
Horas
P1140S4A2
Minutos
P1140S4AP
La actividad la realizó de forma Presencial
P1140S4A3
Horas
P1140S4A4
Minutos
P1140S5
Buscar vivienda para tomar en arriendo o comprar.
P1140S5AV
La actividad la realizó de forma Virtual
P1140S5A1
Horas
P1140S5A2
Minutos
P1140S5AP
La actividad la realizó de forma Presencial
P1140S5A3
Horas
P1140S5A4
Minutos
P1140S6
Cobrar subsidios para usted o alguna persona de este hogar ante entidades públicas o privadas.
P1140S6A1
Horas
P1140S6A2
Minutos
P1140S7
Trasladarse (ir y volver) para efectuar alguna de las anteriores compras o pagos (si realizó más de una actividad, registre el tiempo de traslado total)
P1140S7A1
Horas
P1140S7A2
Minutos
P1140S8
Ninguna de las anteriores.
P1139
El día [...], ¿de qué personas de este hogar estuvo <...> pendiente?
P1139S1A
Número de orden
P1139S1A1
Horas
P1139S1A2
Minutos
P1139S2A
Número de orden
P1139S2A1
Horas
P1139S2A2
Minutos
P1139S3A
Número de orden
P1139S3A1
Horas
P1139S3A2
Minutos
P1138S1
Oficios del hogar.
P1138S2
Trabajar.
P1138S3
Otras actividades.
P1138S4
Ninguna actividad adicional.
P1137S1
Jugar.
P1137S1A1
Horas
P1137S1A2
Minutos
P1137S2
Contar o leer cuentos.
P1137S2A1
Horas
P1137S2A2
Minutos
P1137S3
Llevar al parque.
P1137S3A1
Horas
P1137S3A2
Minutos
P1137S4
Ninguna de las anteriores.
P1137S5
No hay menores de 5 años en este hogar.
P1135
El día [...], sin que por ello le pagaran, ¿a qué persona(s) de este hogar <...> alimentó o le(s) ayudó a hacerlo?
P1135S1A
Número de orden
P1135S1A1
Horas
P1135S1A2
Minutos
P1135S2A
Número de orden
P1135S2A1
Horas
P1135S2A2
Minutos
P1135S3A
Número de orden
P1135S3A1
Horas
P1135S3A2
Minutos
P1134
El día [...], sin que por ello le pagaran, ¿a qué persona(s) de este hogar <...> bañó, vistió o le(s) ayudó a hacerlo? El día [...], sin que por ello le pagaran, ¿a qué persona(s) de este hogar <...> bañó, vistió o le(s) ayudó a hacerlo? El día [...]
P1134S1A
Número de orden
P1134S1A1
Horas
P1134S1A2
Minutos
P1134S2A
Número de orden
P1134S2A1
Horas
P1134S2A2
Minutos
P1134S3A
Número de orden
P1134S3A1
Horas
P1134S3A2
Minutos
P1133
El día [...], sin que por ello le pagaran, ¿a qué persona(s) de este hogar <...> suministró medicamentos, realizó terapias, rehabilitaciones o dio tratamiento a enfermedades?
P1133S1A
Número de orden
P1133S1A1
Horas
P1133S1A2
Minutos
P1133S2A
Número de orden
P1133S2A1
Horas
P1133S2A2
Minutos
P1133S3A
Número de orden
P1133S3A1
Horas
P1133S3A2
Minutos
P1132
El día [...], sin que por ello le pagaran, ¿a qué persona(s) de este hogar <...> ayudó con sus tareas o trabajos escolares?
P1132S1A
Número de orden
P1132S1A1
Horas
P1132S1A2
Minutos
P1132S2A
Número de orden
P1132S2A1
Horas
P1132S2A2
Minutos
P1132S3A
Número de orden
P1132S3A1
Horas
P1132S3A2
Minutos
P1131
El día [...], sin que por ello le pagaran, ¿a qué persona(s) de este hogar… acompañó a citas médicas, odontológicas, urgencias, terapias, exámenes u otras atenciones en salud?
P1131S1A
Número de orden
P1131S1A1
Horas
P1131S1A2
Minutos
P1131S1A3
Horas
P1131S1A4
Minutos
P1131S2A
Número de orden
P1131S2A1
Horas
P1131S2A2
Minutos
P1131S2A3
Horas
P1131S2A4
Minutos
P1131S3A
Número de orden
P1131S3A1
Horas
P1131S3A2
Minutos
P1131S3A3
Horas
P1131S3A4
Minutos
P1114S1
Aconsejar o consolar a personas del hogar
P1114S1A1
Horas
P1114S1A2
Minutos
P1114S2
Llevar o traer a alguna persona de este hogar de 12 años o menos al sitio de estudio.
P1114S2A1
Horas
P1114S2A2
Minutos
P1114S3
Llevar o traer a alguna persona de este hogar mayor de 12 años al sitio de estudio o trabajo.
P1114S3A1
Horas
P1114S3A2
Minutos
P1114S4
Llevar o traer a algúna persona de este hogar a eventos sociales, culturales o recreativos.
P1114S4A1
Horas
P1114S4A2
Minutos
P1114S5
Ninguna de las anteriores.
P1097
El día […], para otros hogares y sin que por ello le pagaran, ¿… realizó oficios del hogar, construcciones, reparaciones, cuidó a personas, etc.?
P1128S1
Oficios del hogar (Cocinar, limpiar la casa, lavar la ropa, planchar, hacer las compras, etc.).
P1128S1A1
Horas
P1128S1A2
Minutos
P1128S2
Reparaciones menores en una vivienda o labores de jardinería.
P1128S2A1
Horas
P1128S2A2
Minutos
P1128S3
Construir o realizar alguna ampliación en una vivienda.
P1128S3A1
Horas
P1128S3A2
Minutos
P1128S4
Cuidar a personas de 12 años o menos que no estén enfermas o en condición de discapacidad.
P1128S4A1
Horas
P1128S4A2
Minutos
P1128S5
Cuidar a personas de 60 años o más que no estén enfermas o en condición de discapacidad.
P1128S5A1
Horas
P1128S5A2
Minutos
P1128S6
Cuidar a personas enfermas.
P1128S6A1
Horas
P1128S6A2
Minutos
P1128S7
Cuidar a personas en condición de discapacidad.
P1128S7A1
Horas
P1128S7A2
Minutos
P1128S8
Trasladarse para realizar una o más de las anteriores actividades.
P1128S8A1
Horas
P1128S8A2
Minutos
P1096
El día [...], sin que por ello le pagaran, ¿<...> realizó trabajos comunitarios participó en reuniones de asociasiones o hizo voluntariado?
P1127S1
Hacer reparaciones, labores de limpieza o algún trabajo en beneficio de su barrio, vereda, centro poblado o comunidad.
P1127S1A1
Horas
P1127S1A2
Minutos
P1127S2
Realizar actividades de voluntariado (sin que le pagaran) a través de una institución sin ánimo de lucro como: damas grises de la Cruz Roja, un techo para mi pais, entre otros.
P1127S2A1
Horas
P1127S2A2
Minutos
P1127S3
Participar en reuniones de asociaciones de padres, sindicatos, partidos politicos, juntas de acción comunal
P1127S3A1
Horas
P1127S3A2
Minutos
P1127S4
Otras actividades comunitarias y de voluntariado.
P1127S4A1
Horas
P1127S4A2
Minutos
P1095
El día [...], sin que por ello le pagaran, ¿<...> plantó, cosechó, cuidó animales o realizó otras actividades agropecuarias o de minería, para beneficio de este hogar?
P1126S1
Plantar, regar, abonar, deshierbar o cosechar en una huerta casera o cultivo destinado solo para el consumo de este hogar.
P1126S1A1
Horas
P1126S1A2
Minutos
P1126S2
Criar animales para el consumo de este hogar tales como: gallinas, cerdos, patos, conejos, etc. Cazar o pescar animales para el consumo de este hogar.
P1126S2A1
Horas
P1126S2A2
Minutos
P1126S3
Plantar, regar, abonar, deshierbar o cosechar en cultivos destinados para la venta.
P1126S3A1
Horas
P1126S3A2
Minutos
P1126S4
Criar, cazar o pescar animales para la venta.
P1126S4A1
Horas
P1126S4A2
Minutos
P1126S5
Ayudar en actividades de extracción de minerales como: carbón, sal, etc, para consumo de este hogar.
P1126S5A1
Horas
P1126S5A2
Minutos
P1126S6
Recoger leña para el uso de este hogar.
P1126S6A1
Horas
P1126S6A2
Minutos
P1126S7
Otra, ¿cuál?_____
P1126S7A2
Horas
P1126S7A3
Minutos
P1094
¿Cuáles de las siguientes actividades realizó <...> sin que le pagaran para otros hogares?:
P1125S1
Plantar, regar, abonar, deshierbar o cosechar en una huerta casera o cultivo destinado sólo para el consumo de otros hogares
P1125S1A1
Horas
P1125S1A2
Minutos
P1125S2
Criar animales para el consumo de ese hogar tales como: gallinas, cerdos, patos, conejos, etc., cazar o pescar animales para el consumo de otros hogares.
P1125S2A1
Horas
P1125S2A2
Minutos
P1125S3
Plantar, regar, abonar, deshierbar o cosechar en cultivos destinados para la venta.
P1125S3A1
Horas
P1125S3A2
Minutos
P1125S4
Criar, cazar o pescar animales para la venta.
P1125S4A1
Horas
P1125S4A2
Minutos
P1125S5
Ayudar en actividades de extracción de minerales como carbón, sal, etc, para consumo de otros hogares.
P1125S5A1
Horas
P1125S5A2
Minutos
P1125S6
Recoger leña para el uso de otros hogares.
P1125S6A1
Horas
P1125S6A2
Minutos
P1125S7
Otra, ¿cuál?_____
P1125S7A2
Horas
P1125S7A3
Minutos
P1113S1
Asistir a bares, sitios de baile, fiestas o eventos de amigos o familiares.
P1113S1A1
Horas
P1113S1A2
Minutos
P1113S2
Conversar, charlar con compañeros, amigos o familiares,
Horas
P1113S2A2
Minutos
P1113S3
Ninguna de las anteriores.
P1112S1
Practicar de manera libre algún deporte, bailar, hacer yoga, ejercicio físico o ir al gimnasio.
P1112S1A1
Horas
P1112S1A2
Minutos
P1112S2
Caminar o pasear sin realizar ningua otra actividad.
P1112S2A1
Horas
P1112S2A2
Minutos
P1112S3
Ninguna de las anteriores.
P1111S1
Asistir a eventos deportivos, parques recreativos o parques temáticos.
P1111S1A1
Horas
P1111S1A2
Minutos
P1111S2
Ir a cine, asistir a teatro, danza o música en vivo, ir a exposiciones de arte o museos.
P1111S2A1
Horas
P1111S2A2
Minutos
P1111S3
Practicar algún instrumento musical o realizar alguna actividad artística sin que sea parte de su trabajo o estudio.
P1111S3A1
Horas
P1111S3A2
Minutos
P1111S4
Rezar o meditar.
P1111S4A1
Horas
P1111S4A2
Minutos
P1111S5
Ir a misa o culto religioso, retiros espirituales o grupos de oración.
P1111S5A1
Horas
P1111S5A2
Minutos
P1111S6
Ninguna de las anteriores.
P1110S1
Ver televisión, videos o películas en dvd, blue-ray o computador, sin hacer otra actividad.
P1110S1A1
Horas
P1110S1A2
Minutos
P1110S2
Ver televisión, videos o películas en dvd, blue-ray o computador, haciendo otras actividades.
P1110S2A1
Horas
P1110S2A2
Minutos
P1110S3
Escuchar música, bajar música por internet o escuchar la radio, sin hacer otra actividad.
P1110S3A1
Horas
P1110S3A2
Minutos
P1110S4
Escuchar música, bajar música por internet o escuchar la radio, haciendo otras actividades.
P1110S4A1
Horas
P1110S4A2
Minutos
P1110S5
Navegar por internet con fines recreativos, chatear, usar una plataforma de streaming (como Netflix), jugar con el computador o con una consola de videojuegos, sin hacer otra actividad.
P1110S5A1
Horas
P1110S5A2
Minutos
P1110S6
Navegar por internet con fines recreativos, chatear, usar una plataforma de streaming (como Netflix), jugar con el computador o con una consola de videojuego, haciendo otras actividades.
P1110S6A1
Horas
P1110S6A2
Minutos
P1110S7
Hablar por teléfono, celular o videollamada con fines NO laborales, sin hacer otra actividad.
P1110S7A1
Horas
P1110S7A2
Minutos
P1110S8
Leer libros, revistas, periódicos, etc.
P1110S8A1
Horas
P1110S8A2
Minutos
P1110S9
Ninguna de las anteriores.
P1122
Durante el día [...], ¿<...> realizó alguna(s) actividad(es) adicional(es)?
p1122s1a1cod
Actividad adicional codificada
P1122S1A2
Horas
P1122S1A3
Minutos
p1122s2a1cod
Actividad adicional codificada
P1122S2A2
Horas
P1122S2A3
Minutos
p1122s3a1cod
Actividad adicional codificada
P1122S3A2
Horas
P1122S3A3
Minutos
P1121
De las actividades que <...> realizó el día [...], ¿hizo algunas al mismo tiempo?
P1121S
Cuántas simultaneidades?
P1121S1A
¿Qué actividad realizó?
P1121S1B
¿Qué actividad realizó?
P1121S1D
Horas
P1121S1E
Minutos
P1121S2A
¿Qué actividad realizó?
P1121S2B
¿Qué actividad realizó?
P1121S2D
Horas
P1121S2E
Minutos
P1121S3A
¿Qué actividad realizó?
P1121S3B
¿Qué actividad realizó?
P1121S3D
Horas
P1121S3E
Minutos
P1109
Con respecto a las tareas domesticas y de cuidado en su hogar <…> considera que:
P1108
Considera <… > que durante el día…:
P1107S1
Una madre que trabaja fuera de su casa es tan buena madre como una que solo trabaja en su casa.
P1107S2
Ambos, el hombre y la mujer, deberian contribuir al ingreso del hogar.
P1107S3
La meta principal de una mujer es casarse y tener hijos/as.
P1107S4
Las mujeres son mejores para el trabajo doméstico que los hombres.
P1107S5
Las mujeres tienen los mismos derechos que los hombres para salir a divertirse.
P1107S6
La cabeza del hogar debe ser el hombre.
P1120S1
Recibir una visita durante todo el día?
P1120S2
Visitar amigos o familiares?
P1120S3
Estar de vacaciones?
P1120S4
Hacer una fiesta o evento?
P1120S5
El fallecimiento de algún familiar o amigo?
P1120S6
Estar todo el día fuera de su hogar por un viaje?
P1120S7
Estar en paro o huelga?
Otra situación?
Si usted debería tener un empleo o trabajar en un negocio, de manera remunerada?
Si su pareja debería tener un empleo o trabajar en un negocio, de manera remunerada?
Si usted puede ser amiga/o de alguien?
Si usted puede cambiar su apariencia personal (por ejemplo su peinado o estilo de vestir)?
Si pedir préstamos de dinero (o créditos) para el hogar?
Planear y realizar inversiones financieras del hogar (por ejemplo, compra y venta de propiedades, planificación educativa o de pensiones)?
Tomar decisiones de grandes gastos del hogar (gastos como vacaciones, compras de electrodomésticos para el hogar, automóvil, entre otros, excepto propiedades inmuebles)?
'FactorExpansion']
data_c1.head()

## 3 Normalización

In [15]:
#Se promedian los datos por directorio C8
data_c8_norm = data_c8.groupby('DIRECTORIO')[data_c8.columns[1::1]].mean().reset_index()
data_c8_norm.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,P1144S1,P1144S1A1,P1144S1A2,P1144S2,P1144S2A1,P1144S2A2,P1144S3,...,P1120S7,P1120S8,P1183S1,P1183S2,P1183S3,P1183S4,P1183S5,P1183S6,P1183S7,F_EXP
0,3,1.0,1.5,1.0,7.500000,0.0,1.0,1.0,0.0,1.0,...,2.0,2.0,2.0,2.0,1.5,1.0,2.0,2.0,2.0,239.883220
1,7,1.0,2.0,1.0,8.666667,20.0,1.0,1.0,0.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.641682
2,11,1.0,2.0,1.0,8.666667,0.0,1.0,1.0,0.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,478.663999
3,14,1.0,1.0,1.0,9.000000,0.0,1.0,1.0,30.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.680583
4,17,1.0,1.0,1.0,0.000000,10.0,1.0,0.0,50.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.098370

In [16]:
#Se verifica el número de DIRECTORIO para verificar que sean únicos como C1
data_c8_norm['DIRECTORIO'].nunique()

49051

### 1.4 Horas de sueño por hogar y datos C1

In [20]:
#Se calculan las horas de sueño promedio por hogar
data_c8_sueno=data_c8_norm[['DIRECTORIO','P1144S1A1','P1144S1A2']].copy()
data_c8_sueno['Horas_de_sueno']=data_c8_sueno['P1144S1A1']+(data_c8_sueno['P1144S1A2']/60)
data_c8_sueno.head()

   DIRECTORIO  P1144S1A1  P1144S1A2  Horas_de_sueno
0           3   7.500000        0.0        7.500000
1           7   8.666667       20.0        9.000000
2          11   8.666667        0.0        8.666667
3          14   9.000000        0.0        9.000000
4          17   0.000000       10.0        0.166667

In [21]:
#Promedio de sueño de los encuestados
data_c8_sueno['Horas_de_sueno'].mean()

7.924929444969396

In [22]:
#Unión C8 y C1
data_c8_sueno=pd.merge(data_c8_sueno, data_c1, on='DIRECTORIO', suffixes=('_C8', '_C1'))
data_c8_sueno.head()

,DIRECTORIO,P1144S1A1,P1144S1A2,Horas_de_sueno,P424,P4030S1,P4030S1A1,P4030S5,P4030S3,P4030S4,P4030S4A1,P4030S6,P4030S2,MES_REF,DIA_REF,CLASE,REGION,F_EXP_VIV
0,3,7.500000,0.0,7.500000,2,1,4.0,1,1,1,3.0,1,1,9,5,1,2,239.883220
1,7,8.666667,20.0,9.000000,1,1,2.0,1,1,1,3.0,1,1,9,6,2,2,274.641682
2,11,8.666667,0.0,8.666667,2,1,2.0,1,1,1,2.0,1,1,9,4,2,2,478.663999
3,14,9.000000,0.0,9.000000,1,1,1.0,1,1,2,NaN,2,1,9,6,1,1,124.680583
4,17,0.000000,10.0,0.166667,1,1,2.0,1,1,1,3.0,1,1,9,6,1,1,184.098370

In [23]:
#Horas de sueño por estrato y región
mapa_regiones = {
    1: 'Caribe',
    2: 'Central',
    3: 'Oriental',
    4: 'Pacífica',
    5: 'Bogotá',
    6: 'San Andrés'
}

data_c8_sueno['REGION'] = data_c8_sueno['REGION'].replace(mapa_regiones)

promedio_horas_de_sueno_estrato = data_c8_sueno.groupby(['P4030S1A1', 'REGION'])['Horas_de_sueno'].mean().reset_index()
promedio_horas_de_sueno_estrato

    P4030S1A1      REGION  Horas_de_sueno
0         1.0      Bogotá        7.530609
1         1.0      Caribe        8.253009
2         1.0     Central        8.215945
3         1.0    Oriental        8.019015
4         1.0    Pacífica        7.957619
5         1.0  San Andrés        8.180414
6         2.0      Bogotá        7.443597
7         2.0      Caribe        8.210869
8         2.0     Central        8.150146
9         2.0    Oriental        7.845804
10        2.0    Pacífica        7.783314
11        2.0  San Andrés        8.041908
12        3.0      Bogotá        7.425221
13        3.0      Caribe        8.244327
14        3.0     Central        7.848751
15        3.0    Oriental        7.609101
16        3.0    Pacífica        7.710138
17        3.0  San Andrés        8.157749
18        4.0      Bogotá        7.412003
19        4.0      Caribe        8.200163
20        4.0     Central        7.705311
21        4.0    Oriental        7.486532
22        4.0    Pacífica        7.492805
23        4.0  San Andrés        8.288399
24        5.0      Bogotá        7.534058
25        5.0      Caribe        8.111785
26        5.0     Central        7.900192
27        5.0    Oriental        7.594661
28        5.0    Pacífica        7.555381
29        5.0  San Andrés        8.233507
30        6.0      Bogotá        7.220833
31        6.0      Caribe        7.945056
32        6.0     Central        7.827016
33        6.0    Oriental        7.824048
34        6.0    Pacífica        8.008333
35        6.0  San Andrés        7.964286
36        8.0      Bogotá        7.708333
37        8.0      Caribe        7.874583
38        8.0     Central        9.450000
39        8.0    Oriental        9.627619
40        8.0    Pacífica       10.082051
41        9.0      Caribe        8.377083
42        9.0     Central        8.875000
43        9.0    Oriental        7.588542
44        9.0    Pacífica        8.678571

In [24]:
#Pareja region/estrato que mas y menos duermen
mas_sueno = promedio_horas_de_sueno_estrato[promedio_horas_de_sueno_estrato['Horas_de_sueno'] == promedio_horas_de_sueno_estrato['Horas_de_sueno'].max()]
menos_sueno = promedio_horas_de_sueno_estrato[promedio_horas_de_sueno_estrato['Horas_de_sueno'] == promedio_horas_de_sueno_estrato['Horas_de_sueno'].min()]

print("Estrato/región que más duermen:")
print(mas_sueno[['P4030S1A1', 'REGION']])

print("Estrato/región que menos duermen:")
print(menos_sueno[['P4030S1A1', 'REGION']])

Estrato/región que más duermen:
    P4030S1A1    REGION
40        8.0  Pacífica
Estrato/región que menos duermen:
    P4030S1A1  REGION
30        6.0  Bogotá